figcaption {
    text-align: right;
}

Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@liza-wood 
allisonhorst
/
palmerpenguins
Public
Fork your own copy of allisonhorst/palmerpenguins
Code
Issues
10
Pull requests
2
Actions
Projects
Security
Insights
palmerpenguins/pkgdown/extra.css
@apreshill
apreshill new pkgdown site (#85)
…
Latest commit 821d5ee on Apr 21, 2022
 History
 1 contributor
55 lines (42 sloc)  1012 Bytes

/* heavily adapted from Desirée De Leon's tidymodels pkgdown CSS */
/* https://github.com/tidyverse/tidytemplate/blob/master/inst/pkgdown/assets/tidymodels.css */

:root {
  --bunker: #272b30;
  --ziggurat: #BED4E2;
  --wedgewood: #437496;
}

/* fonts ----------------------------------------- */
.p {
  font-family: "Jost", Times, Sans-Serif;
}

/* spacing ----------------------------------------------- */

.contents h2, .contents h3, .contents h4 {
	margin-bottom: 1.5rem;
	margin-top: 2rem;
}

.row {
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .contents {
    padding-right: 4em;
  }
}

/* navbar ----------------------------------------------- */

.navbar {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* active behavior for navbar */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link {
	background: var(--ziggurat);
	color: var(--bunker);
	border-radius: 0rem;
}

/* hover behavior for navbar */
.navbar-light .navbar-nav .nav-item > .nav-link:hover {
	background: none;
}


code a {
  color: var(--wedgewood);
}

code a:hover {
  color: var(--bunker);
}
